/* Estilos gerais */

/* Estilos para a tabela de resultados */
#resultsContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#criterias {
    font-size: smaller;

}

caption {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}


tr:first-child {
    background-color: #1b6828;
    color: #fff;
    font-weight: bold;
}

/* Classe para centralizar o texto das células */
.centered-cell {
    text-align: center;
}

/* Estilos para os botões */

button:hover {
    background-color: #15962a;
}

/* Estilos para células destacadas (última linha) */
.highlighted-cell {
    background-color: #278236; /* Cor verde */
    color: #fff; /* Cor do texto branco */
}

/* Estilos para os cabeçalhos da tabela */
th {
    font-size: 14px; /* Tamanho da fonte para os cabeçalhos */
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Estilos para as células de dados da tabela */
td {
    font-size: 10pt; /* Tamanho da fonte para as células de dados */
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* Estilos para células destacadas (última linha) */

tr:first-child {
    background-color: #1b6828;
    color: #fff;
    font-weight: bold;
}


/* Estilo para a linha separadora na 4ª coluna, exceto no cabeçalho */
td:nth-child(4) {
    border-right: 2px solid #adadad; /* Linha separadora verde */
}

/* Estilos para a tabela "ahpTable" */
#ahpTable {
    border-collapse: collapse;
    max-width: 600px; /* Largura máxima de 800px */
    width: 90%; /* Garante que a tabela ocupe toda a largura disponível dentro do contêiner */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-comparison {
    border: 2px solid #000;
    background-color: #f5f5f5;
    width: 100%;
}
#ahpTable th,
#ahpTable td {
    padding: 8px;
    border-bottom: 3px solid #65a767; 
    border-right: 3px solid #65a767;
    border-left: 3px solid #65a767; 
}

#ahpTable th:first-child,
#ahpTable td:first-child {
    border-left: 2px solid #1b6828;
}

#ahpTable tr:first-child th {
    border-top: 3px solid #65a767; /* Linha superior da primeira linha */
    border-right:3px solid #65a767;
    border-left: 3px solid #65a767;
    border-bottom: 3px solid #65a767;
}
.textarea-custom {
    padding: 10px;
    border: 2px solid #1b6828;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%; /* Opcional: para ocupar toda a largura disponível */
    box-sizing: border-box; /* Opcional: inclui o padding e a borda na largura total */
}
.border-bottom-row {
    border-bottom: 3px solid #000; /* Define a borda inferior grossa */
    color: #1b6828;
}